.tree-subtree {
  margin: 0px 0px 0px 18px;
  padding: 0px;
}

.tree-branch {
  padding: 0px;
}

.tree-branch-last {
  padding: 0px;
}

/* node */

div.tree-node {
  float: left; /* IE_FIX for correct layout of junction with float:left inside LI */
}

div.tree-node span.tree-junction {
  display: block;
  float: left;
  width: 18px;
}

div.tree-node a.tree-junction-expanded {
  display: block;
  float: left;
  width: 18px;
  background-image: url(tree.gif);
  background-position: -18px center;
  background-repeat: no-repeat;
  text-decoration: none;
}

div.tree-node a.tree-junction-expanded:hover {
  background-position: -54px center;
}

div.tree-node a.tree-junction-collapsed {
  display: block;
  float: left;
  width: 18px;
  background-image: url(tree.gif);
  background-position: 0px center;
  background-repeat: no-repeat;
  text-decoration: none;
}

div.tree-node a.tree-junction-collapsed:hover {
  background-position: -36px center;
}

div.tree-node span.tree-sign {
  display: none;
}

div.tree-node span.tree-content {
  display: block;
  margin-left: 18px;
}

/* tree */

ul.tree {
  list-style-type: none;
  padding: 0px;
  clear: left; /* IE_FIX see DIV.node */
}

ul.tree-subtree {
  list-style-type: none;
  padding: 0px;
  clear: left; /* IE_FIX see DIV.node */
}

/* tabletree */

table.tree {
  border-spacing: 0px;
}

table.tree tr.selected {
  background-color: #fad184;
}

table.tree td {
  margin: 0px;
  height: 100%;
}

table.tree td.tree {
  padding: 0px;
}

table.tree div.tree-subtree {
  height: 100%;
}

table.tree div.tree-branch {
  height: 100%;
}

table.tree div.tree-branch-last {
  height: 100%;
}

/* content */

span.tree-content a {
  color: black;
  text-decoration: none;
}

span.tree-content a:hover {
  text-decoration: underline;
}

span.tree-content .selected {
  background-color: #fad184;
}

span.tree-content .tree-folder-closed {
  padding-left: 18px;
  background-image: url(folder.gif);
  background-position: 0px 50%;
  background-repeat: no-repeat;
}

span.tree-content .tree-folder-open {
  padding-left: 18px;
  background-image: url(folder.gif);
  background-position: 0px 50%;
  background-repeat: no-repeat;
}

span.tree-content .tree-folder-other {
  padding-left: 18px;
  background-image: url(folder-other.gif);
  background-position: 0px 50%;
  background-repeat: no-repeat;
}
